@import "~src/variables.scss";

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f1f3f8;
  color: #393b44;
}

ul {
  list-style: none;
  padding: 0;
}

.pending {
  background-color: $clr-pending;
}

.running {
  background-color: $clr-running;
}

.completed {
  background-color: $clr-success;
}

.terminated {
  background-color: $clr-err;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
